.categories-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-rows: 1fr;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: auto;
    max-width: 1200px;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  