
button {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: white;

 
    margin-right:10px;
    margin: 5px;
    border: 1px solid black;
    border-radius:10px;
    width: 300px;
    height: 200px;
    background-color: #F6C28B;
   

}
#container {
    margin: 20px auto;
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    column-gap: 300px;
    justify-content: center;

    grid-row-gap: 20px;
 
   
}

 

  


h1{
        justify-content: center;
        
}
#container-2{
    display:flex;
    justify-content: center;
    align-items: right;
    align-items: center;
    flex-direction: column;
    
   
    
    
}