
.myreviews-business-container{
    display: flex;
    position: relative;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: -30px;
    margin-left: -5px;
  }
  
  
  .myreviews-business-field {
    display: flex;
    position: relative;
    flex: 0 0 auto;
    width: 485px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
  
    background: #fbf6f3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
    flex-direction: column;
    align-items: flex-start;
  
    overflow: hidden;
  }
  
  .myreviews-business-pfp {
    border-radius: 10px;
    
    position: relative;
    width: 95px;
    height: 78px;
  
    top: -14.5px;
    left: -15px;
  }
  
  .myreviews-business-header{
  display: inline-flex;
  justify-content: left;
  align-items: center;
  position: relative;
  top: -30px;
  left: -20px;
  width: 800px;
  height: 100%;
  /* padding-right: 10px; */
  }
  /**/
  .myreviews-business-name{
    padding-left: 10px;
  
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
  }
  
  .myreviews-business-id{
    padding-left: 10px;
  
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
  }
  
  .myreviews-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -40px;
    left: -15px;
    width: 170px;
    height: 100%;
}
  
  
  .myreviews-category, .myreviews-rating{
    width: 170px; 
    height: 20px;
    padding: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    box-sizing: border-box;
      padding-right: 75px;

    font-weight: 500;
    font-family: 'Lato', sans-serif;
  }
  .myreviews-category{
    padding-right: 75px;
    font-family: 'Lato', sans-serif;
  }

  .myreviews-rating{
    padding-right: 90px;
  }
  .myreviews-bio-container{
    display: flex;
    width: 534px;
    max-height: 90px;
    max-width: 333px;
    position: relative; 
    
  
    top: -90px;
    left: 160px;
  }
  
  /*
  top: -175px;
  left: 175px;
  width: 500px;
  height: 100%; */
  
  
  .myreviews-bio{
    text-align: left;
    font-family: 'Lato', sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }