
.business-container{
  display: flex;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  width: 785px;
  height: 100%;
  margin: 0 auto;
  margin-top: -20px;
}

.business-field {
  display: flex;
  position: relative;
  flex: 0 0 auto;
  width: 630px;
  height: 130px;
  margin-top: 20px;
  margin-bottom: 20px;

  background: #fbf6f3;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  flex-direction: column;
  align-items: flex-start;

  overflow: hidden;
}

.business-pfp {
  border-radius: 10px;
  
  position: relative;
  width: 190px;
  height: 430px;

  top: -14.5px;
  left: -15px;
  object-fit: cover;
}

.business-header {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 8px;
  left: 200px;
  width: 465px;
  height: 28px;
}
/**/
.business-name {
  padding-right: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

.business-id{
  padding-left: 0px;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
}

.info-container {
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
  top: 40px;
  left: 200px;
  width: 465px;
  height: 35px;
}


.category, .rating, .distance {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(33.33% - 5px/3);
  border-right: 1.5px solid black;
  padding: 5px;
  box-sizing: border-box;
  height: 35px;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
}


.category{
  padding-right: 40px;
  font-family: 'Lato', sans-serif;
}
.distance {
  border-right: none; /* remove border for last element */
  font-family: 'Lato', sans-serif;
}
.bio-container {
  display: flex;
  width: 465px;
  max-height: 90px;
  max-width: 465px;
  position: relative;
  top: -100px;
  left: 180px;
}


.bio{
  text-align: left;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  
}