
.top-sellers-business-container{
  display: flex;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-top: 2px;
}


.top-sellers-business-field {
  display: flex;
  position: relative;
  flex: 0 0 auto;
  width: 550px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 20px;

  background: #fbf6f3;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  flex-direction: column;
  align-items: flex-start;

  overflow: hidden;
}

.top-sellers-business-pfp {
  border-radius: 10px;
  position: absolute;
  width: 98px;
  height: 86px;
  top: 2.5px;
  left: 2px;
  object-fit: cover;
}

.top-sellers-business-header {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 102px;
  width: 483px;
  height: 20px;
}

/**/
.top-sellers-business-name {
  padding-left: 10px;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}

.top-sellers-business-id{
  padding-left: 10px;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
}

.top-sellers-info-container {
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
  top: 27px;
  left: 102px;
  width: 483px;
  height: 25px;
}


.top-sellers-category, .top-sellers-rating, .top-sellers-distance {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(33.33% - 5px/3); 
  height: 20px;
  border-right: 1.5px solid black;
  padding: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  box-sizing: border-box;

  font-weight: lighter;
  font-family: 'Lato', sans-serif;
}
.top-sellers-category{
  padding-right: 40px;
  font-family: 'Lato', sans-serif;
}
.top-sellers-distance {
  border-right: none; /* remove border for last element */
  font-family: 'Lato', sans-serif;
}
.top-sellers-bio-container{
  display: flex;
  width: 534px;
  max-height: 90px;
  max-width: 483px;
  position: absolute; 
  

  top: 54px;
  left: 102px;
}

/*
top: -175px;
left: 175px;
width: 500px;
height: 100%; */


.top-sellers-bio{
  text-align: left;
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}