.top-sellers-business-list-container{
  height: 100%;
  
  overflow: auto;
  margin-top: 120px;
  margin-left: 334px;
  margin-right: 306px;
  background-color: #FCD7AD;
}
.top-sellers-businesslist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
  }