<<<<<<< HEAD
/* .Header{
    position: fixed;
} */

=======
>>>>>>> 81784fec8f229c241fbeffa4bde0ed0283124f8a
nav{
    background-color: #A57548;
    overflow: hidden;
    display: flex;
    justify-content:center; 
    align-items: center;
    height: 90px;
}

nav a {
    color: #FBF6F3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    align-items: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
<<<<<<< HEAD
}

.logo-img{
    position: absolute;
    left: 0;
    height: 90px;
=======
>>>>>>> 81784fec8f229c241fbeffa4bde0ed0283124f8a
}