.login-close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    width: 10px;
    height: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    position: absolute;

    width: 330px;
    height: 409px;
    margin: 0 auto;
  }
  
.login-create-account-prompt{
    background-color: transparent;
    border: 0;
    content: "";

    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 15px;
    text-decoration: underline;

    line-height: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: blue;
    cursor: pointer;
}

.login-email-input, .login-password-input {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    flex-direction: column;
    width: 365px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 20px;
}

.login-email, .login-password{
    display: flex;
    align-items:center;
    flex-direction: column;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Lato', sans-serif;

    line-height: 12px;
    margin-top: 10px;
    color: #A57548;
}


.login-login{
    background: #5296A5;
    border: 1px solid #FBF6F3;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Lato', sans-serif;

    font-size: 22px;
    line-height: 13px;
    margin-top: 15px;

    height: 43px;
    width: 135px;

    color: #FBF6F3;
    cursor: pointer;
}

.login-or-login-label{
    font-family: 'Lato';
    font-style: italic;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Lato', sans-serif;

    line-height: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000000;
}

.login-or-login-label::before {
    content: "";
    display: inline-block;
    border-bottom: 1px solid #000000;
    margin-right: 10px;
    height: 1px;
    width: 40px;
    vertical-align: middle;
  }
  
  .login-or-login-label::after {
    content: "";
    display: inline-block;
    border-bottom: 1px solid #000000;
    margin-left: 10px;
    height: 1px;
    width: 40px;
    vertical-align: middle;
  }
  

.login-social-media-button-google {
    background-image: url(../images/google-logo.png);
    background-size: cover;
    background-color: transparent;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right:30px;
    border: 0;
    cursor: pointer;
}
.login-social-media-button-apple{
    background-image: url(../images/apple-logo.png);
    background-size: cover;
    background-color: transparent;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right:30px;
    border: 0;
    cursor: pointer;
}
.login-social-media-button-facebook {
    background-image: url(../images/facebook-logo.png);
    background-size: cover;
    background-color: transparent;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right:30px;
    border: 0;
    cursor: pointer;
}