/* .profile-picture-container {
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  position: absolute;
  top: 17px;
  right: 20px;
  overflow: hidden;
} */
.profile-picture-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Resizes the image while maintaining aspect ratio */
  object-position: center center; /* Centers the image */
}


.header-pfp{
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  position: absolute;
  top: 17px;
  right: 20px;
  overflow: hidden;
}

.profile-page-pfp {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 230px;
  height: 230px;
  position: absolute;
  top: 5px;
  overflow: hidden;
}