.favorites-business-list-container{
    height: 100%;
    
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 520px;

  }
  .favorites-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    margin-left: 0px;
    margin-top: 15px;
    padding-left: 15px;
  }